*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    background-color: black;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 5px solid #ffa500;
    outline: 3px solid #5a5a5a;
    border-radius: 15px;
}

.display-box {
    border-bottom: 1px solid #5a5a5a;
    overflow: hidden;
}

.history {
    height: 50px;
    padding-right: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 18px;
    border-bottom: 1px solid #5a5a5a;
}

.display {
    height: 50px;
    max-width: 100%;
    padding-right: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 32px;
}

.buttons {
    display: flex;
    flex-direction: column-reverse;
}

.row {
    display: flex;
}

button {
    width: 50px;
    height: 50px;
    margin: 3px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.non-operator {
    color: white;
    background-color: #3a3b3c;
    font-size: 18px;
}

.row.five > .non-operator {
    color: black;
    background-color: #808080;
    font-size: 15px;
    font-weight: normal;
}

.operator,
.equal {
    color: white;
    background-color: #ffa500;
    font-size: 20px;
    font-weight: bold;
}

.zero {
    flex-grow: 1;
    border-radius: 25px;
}

.operator-selected {
    color: #ffa500;
    background-color: white;
}

button:hover {
    transform: scale(1.05);
}